body {
  background: image_url('bg.png');
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('country-quilt-dark.png');
  a {
    color: #ffffff;
  }
  a:hover {
    color: #ffffff;
    text-decoration: none;
  }
}

.navbar-dark a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: white;
}

.hero {
  background: image_url('hero.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  h1 {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 100;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;

  }
  h2 {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 200;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;

  }
  .btn {
    border-radius: 0;
  }
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

body .alert {
  margin-bottom: 0;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.form-group .invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

.clr {
  clear: both;
}

.lesson {
  a {
    b {
      font-weight: 100;
      font-size: 25px;
    }
    color: white;
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 100;
    font-size: 15px;
  }
  background-color: black;
  margin-top: 10px;
  height: 130px;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

.sections {
  padding: 0;
  ul {
    padding: 0;
  }
}

ul {
  list-style-type: none;
  .header-box {
    padding: 10px 5px;
    border-bottom: 2px solid #e2d9d9;
  }
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

ul .header {
  font-size: 25px;
  .fa {
    font-size: 20px;
  }
}

.lessons li {
  background: black;
  color: white;
  margin: 10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
  b {
    font-size: 25px;
    font-weight: 100;
  }
  p {
    margin: 0;
  }
}

div {
  .text-center {
    padding-left: 0;
  }
}

.add-section-box {
  padding: 20px;
}

.enroll-box {
  width: 70%;
  border: 2px solid black;
  border-radius: 15px;
}
